.dashboard-extras {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 25px;

    margin-top: 25px;

}

.activity-item,
.member-item {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 18px 0;

    border-bottom: 1px solid var(--border);

}

.activity-item:last-child,
.member-item:last-child {

    border-bottom: none;

}

.activity-item {

    gap: 15px;

    justify-content: flex-start;

}

.activity-icon {

    width: 42px;

    height: 42px;

    border-radius: 12px;

    background: var(--section);

    display: flex;

    align-items: center;

    justify-content: center;

    color: var(--primary);

}

.activity-item h4 {

    font-size: 15px;

    margin-bottom: 4px;

}

.activity-item small {

    color: var(--text-light);

}

.member-left {

    display: flex;

    align-items: center;

    gap: 14px;

}

.avatar {

    width: 42px;

    height: 42px;

    border-radius: 50%;

    background: var(--primary);

    display: flex;

    align-items: center;

    justify-content: center;

    color: white;

}

.online-dot {

    width: 12px;

    height: 12px;

    border-radius: 50%;

    background: #22c55e;

}

@media(max-width:992px) {

    .dashboard-extras {

        grid-template-columns: 1fr;

    }

}