.footer {

    margin-top: 80px;

    background: #4A4A4A;

    color: white;

}

.footer .container {

    padding-top: 70px;

    padding-bottom: 25px;

}

.footer-grid {

    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr;

    gap: 50px;

}

.footer-about h2 {

    color: white;

    margin-bottom: 20px;

    font-size: 34px;

}

.footer-about span {

    color: #FFFFE3;

}

.footer-about p {

    line-height: 1.8;

    color: #d9d9d9;

}

.footer-links h3,
.footer-contact h3 {

    color: white;

    margin-bottom: 20px;

}

.footer-links {

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.footer-links a {

    color: #d9d9d9;

    transition: .3s;

}

.footer-links a:hover {

    color: #FFFFE3;

    transform: translateX(6px);

}

.footer-contact p {

    display: flex;

    align-items: center;

    gap: 10px;

    color: #d9d9d9;

}

.social-links {

    display: flex;

    gap: 15px;

    margin-top: 25px;

}

.social-links a {

    width: 42px;

    height: 42px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    background: #6D8196;

    color: white;

    transition: .35s;

}

.social-links a:hover {

    background: #FFFFE3;

    color: #4A4A4A;

    transform: translateY(-5px);

}

.footer-bottom {

    margin-top: 50px;

    padding-top: 25px;

    text-align: center;

    border-top: 1px solid rgba(255, 255, 255, .15);

    color: #d9d9d9;

}

/* Tablet */

@media(max-width:992px) {

    .footer-grid {

        grid-template-columns: repeat(2, 1fr);

    }

}

/* Mobile */

@media(max-width:768px) {

    .footer-grid {

        grid-template-columns: 1fr;

        text-align: center;

    }

    .footer-contact p {

        justify-content: center;

    }

    .social-links {

        justify-content: center;

    }

}